In [21]:
import sqlite3
import pandas as pd

In [22]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [23]:
conn = sqlite3.connect('/content/drive/MyDrive/Хакатон/startups.db')

In [24]:
df = pd.read_pickle('/content/drive/MyDrive/Хакатон/companies_code_freeze.pkl')

In [25]:
df.sample()

,id,entity_id,name,normalized_name,category_code,status,founded_at,closed_at,domain,homepage_url,...,acquiring_object_id,acquired_at_first,acquired_at_last,price_amount,term_code,acquired_object_id,acquired_by,acquired_at,final_sell_price,acquired_on_terms
105458,c:159926,159926.0,Kasumi-sou,kasumi-sou,finance,1.0,2011-07-07,NaT,kasumi-sou.co.jp,http://kasumi-sou.co.jp,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [26]:
df.columns

Index(['id', 'entity_id', 'name', 'normalized_name', 'category_code', 'status',
       'founded_at', 'closed_at', 'domain', 'homepage_url', 'twitter_username',
       'logo_url', 'logo_width', 'logo_height', 'short_description',
       'overview', 'tag_list', 'state_code', 'city', 'region',
       'first_investment_at', 'last_investment_at', 'investment_rounds',
       'invested_companies', 'first_funding_at', 'last_funding_at',
       'funding_rounds', 'funding_total_usd', 'first_milestone_at',
       'last_milestone_at', 'milestones', 'relationships', 'updated_at',
       'linkcut', 'category_list', 'crunchbase_profile', 'country', 'founders',
       'investors', 'address', 'state', 'seed_profile', 'y_combinator_year',
       'city_2023', 'country_2023', 'Industries', 'Employees',
       'homepage_url_2023', 'Company_values', 'Org_structure', 'Teams and qty',
       'acquiring_object_id', 'acquired_at_first', 'acquired_at_last',
       'price_amount', 'term_code', 'acquired_object_id', 'acquired_by',
       'acquired_at', 'final_sell_price', 'acquired_on_terms'],
      dtype='object')

In [27]:
df.to_sql(name='companies', con=conn, if_exists='replace', index=False)

226175

In [30]:
people = pd.read_csv('/content/drive/MyDrive/Хакатон/datasets_to_merge_final/people.csv')

In [31]:
people.to_sql(name='people', con=conn, if_exists='replace', index=False)

226709

In [34]:
relations = pd.read_csv('/content/drive/MyDrive/Хакатон/datasets_to_merge_final/relationships.csv')

In [35]:
relations.to_sql(name='relations', con=conn, if_exists='replace', index=False)

402878

In [36]:
degrees = pd.read_csv('/content/drive/MyDrive/Хакатон/datasets_to_merge_final/degrees.csv')

In [37]:
degrees.to_sql(name='degrees', con=conn, if_exists='replace', index=False)

109610

In [38]:
funding_rounds = pd.read_csv('/content/drive/MyDrive/Хакатон/datasets_to_merge_final/funding_rounds.csv')

In [39]:
funding_rounds.to_sql(name='funding_rounds', con=conn, if_exists='replace', index=False)

52928

In [40]:
funds = pd.read_csv('/content/drive/MyDrive/Хакатон/datasets_to_merge_final/funds.csv')

In [41]:
funds.to_sql(name='funds', con=conn, if_exists='replace', index=False)

1564

In [42]:
investments = pd.read_csv('/content/drive/MyDrive/Хакатон/datasets_to_merge_final/investments.csv')

In [43]:
investments.to_sql(name='investments', con=conn, if_exists='replace', index=False)

80902

In [44]:
ipos = pd.read_csv('/content/drive/MyDrive/Хакатон/datasets_to_merge_final/ipos.csv')

In [45]:
ipos.to_sql(name='ipos', con=conn, if_exists='replace', index=False)

1259

In [46]:
milestones = pd.read_csv('/content/drive/MyDrive/Хакатон/datasets_to_merge_final/milestones.csv')

In [47]:
milestones.to_sql(name='milestones', con=conn, if_exists='replace', index=False)

39456

In [48]:
offices = pd.read_csv('/content/drive/MyDrive/Хакатон/datasets_to_merge_final/offices.csv')

In [49]:
offices.to_sql(name='offices', con=conn, if_exists='replace', index=False)

112718

In [50]:
conn.close()